<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE-edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Eliminar Nota</title>
    </head>
    <body>
        <h1>Eliminar Nota</h1>
        <form method="post"> {% csrf_token %}
            <p>Estas seguro que quieres eliminar esta nota "{{ object.titulo }}" ? </p>
            {{ form.as_p }}
            <input type="submit" value="Confirmar" >
    </body>
</html>